### Import the necessary libraries

In [ ]:
import pandas as pd

### Import the dataset from this(https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

### Assign it to a variable called users and use the 'user_id' as index

In [5]:
import pandas as pd

user = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep = '|',index_col="user_id")
print(user)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### See the first 10 and last 10 entries

In [18]:
import pandas as pd

user = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep = '|',index_col="user_id")

print("First 10 entries")
print(user.head(10))

print("Last 10 entries")
print(user.tail(10))

First 10 entries
         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
Last 10 entries
         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### What is the number of observations in the dataset?

In [23]:
num_observations = len(user)
print("Number of Observations:", num_observations)

Number of Observations: 943

### What is the number of columns in the dataset?

In [27]:
num_columns = len(user.columns)
print("Number of Columns:", num_columns)

Number of Columns: 4

### Print the name of all the columns.

In [28]:
print(user.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### How is the dataset indexed?

In [29]:
index = user.index
print("Index:", index)

Index: Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

### What is the data type of each column?

In [35]:
user.info()

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

### Print only the occupation column

In [37]:
occupation_column = user.occupation
print(occupation_column)

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### How many different occupations are in this dataset?

In [54]:
occupations = user.occupation
get_count = occupations.nunique()
print(get_count)

21

### What is the most frequent occupation?

In [83]:
most_frequent_occupation = user.occupation.mode().tolist()
print(most_frequent_occupation)

['student']

### DataFrame Info.

In [58]:
user.info()

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

### Describe all the columns

In [59]:
columns_description = user.describe()
print("Description of all columns:")
print(columns_description)

Description of all columns:
              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### Summarize only the occupation column

In [64]:
user.groupby("occupation")["occupation"].count().sort_values()

occupation
doctor             7
homemaker          7
none               9
salesman          12
lawyer            12
retired           14
healthcare        16
entertainment     18
marketing         26
technician        27
artist            28
scientist         31
executive         32
writer            45
librarian         51
programmer        66
engineer          67
administrator     79
educator          95
other            105
student          196
Name: occupation, dtype: int64

### What is the mean age of users?

In [69]:
mean_age = user.age.mean()
print(mean_age)

34.05196182396607

### What is the age with least occurrence?

In [77]:
age_counts = user.age.value_counts()
min_occurrence = age_counts.min()
ages_least_occurrence = age_counts[age_counts == min_occurrence].index.tolist()

print(ages_least_occurrence)

Age(s) with the least occurrence: [7, 66, 11, 10, 73]